.git
.github
.env
.env.*
!.env.example

ios
docs
backend/tests
backend/vendor
backend/.env
backend/.env.*
backend/database/database.sqlite
backend/storage
backend/node_modules
backend/public/build
backend/public/hot
backend/bootstrap/cache/*.php

docker/.env
docker-compose*.yml
*.log
